env_name                       = "databricks"
user_name                      = "[firstname.lastname]"                                        # example. "hanmil.lee"
region                         = "ap-northeast-2"                                              # 사용될 region
prefix                         = "mycompany001-poc"                                            # 사용될 databricks workspace name
deployment_name_prefix_enabled = false                                                         # Salesforce상에서 prefix 가 enable 된 경우 true, 아니면 false
deployment_name                = null                                                          # deployment_name_prefix_enabled = true인 경우, workspace url 앞부분에 들어갈 prefix 입력
databricks_account_id          = "[databricks account id]"                                     # "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
client_id                      = "[service principal client id]"                               # "56xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
client_secret                  = "[service principal client secret]"                           # "dosxxxxxxxxxxxxxxxxxxxxxxxxx"
cidr_block                     = "[vpc cidr block]"                                            # example. "10.10.0.0/16"
metastore_id                   = "[metastore id]"                                              # 리전에 이미 metastore 있으면 그 ID 입력, 없으면 빈 문자열("")로 두면 신규 생성됨 (리전당 1개 제약)
enable_unity_catalog           = true                                                          # Unity Catalog 리소스 생성 여부
